
.body{
    padding: 0;
}

.header {
    background: url('https://i.postimg.cc/bYRG7qP3/backg.jpg') bottom center no-repeat;
    flex-direction: column;
    align-content: center;
    display: flex;
    width: 100%;
    height: 200px;
    color: #ffffff;
    text-align: center;
    flex-wrap: wrap;
}

.header-desc{
   margin: auto;
   font-size: large;
}

.main {
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a_footer {
    display: block;
}

.Reviews {
    
    text-align: center;
    width: 100%;
    border-radius: 20px;
}

.Grid {
    margin-inline-end: 30px;
    padding-inline-start: 30px;
    flex-wrap: wrap;
    display: flex;
    list-style: none;
}

.item {
    box-shadow: 10px;
    border-radius: 30px;
    padding: 30px;
    margin: 30px;
    flex: 1;
    background-color: #e5e5e5;
    box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, 0.25)
}

.footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #14213d;
    padding-left: 30px;
    text-decoration: none;
}

.adress {
    color: #ffffff;
    text-align: left;
}

.a_footer{
    color: #ffffff;
    text-decoration: none;
}

.a_footer:hover{
    text-decoration: underline;
}

@media print{
    
    .header {
        visibility: hidden;
        padding: 10px;
        margin: 10px;
        width: 100%;
        height: 150px;
        color: rgb(88, 51, 255);
        text-align: center;
    }
}

@media (max-width:600px){
    
    .header-h{
        margin-left: 10px;
        margin-right: 10px;
    }
    .header-desc{
        margin-left: 10px;
        margin-right: 10px;
        font-size: small;
    }
    .Grid{
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }
}

